body {
	width: 100%;
	overflow-x: hidden;
	color: @Primary;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	line-height: 24px;

	scroll-behavior: smooth;

	h1, h2, h3, h4, h5{
		font-family: 'Erica One', cursive;
		letter-spacing: 0.03em;
	}

	a {
		text-decoration: none;
	}

	svg {
		width: 20px;
		position: relative;
	}
}


body p {
	color: @Secondary;
}

h1 {
	font-size: 86px;
	line-height: 128px;
}

h2 {
	font-size: 68px;
	line-height: 78px;
}

h3{
	font-size: 36px;
	line-height: 40px;
}

h4 {
	font-size: 26px;
	line-height: 36px;
}

@Primary: #8f959b;
@Secondary: #363636;
@Hover: #F20056;


section {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #f2f2f2;
	color: #fff;
	min-height: 100vh;

	.section-title{
		background-image:  linear-gradient(33.8deg, #FF8600 -13.67%, #F9007D 108.16%);
		-webkit-background-clip: text;
		color: transparent;
	}
}


section.introduction {
	background: linear-gradient(117.61deg, #FC466B 5.52%, #3F5EFB 115.27%);

	h4{
		font-family: 'Noto Sans', sans-serif;
	}

	a{
		color: #fff;
	}

	.container{
		max-width: 700px;
	}

	.avatar-cont{
		margin-left: 60px;

		img{
			max-width: 180px;

			&.pre-load{
				display: block;
			}

			&.hover-state{
				display: none;
			}
		}

		&:hover{
			img{
				&.pre-load{
					display: none;
				}
	
				&.hover-state{
					display: block;
				}
			}
		}
	}

	.social-cont{
		margin-bottom: 60px;

		img{
			margin-right: 14px;
		}
	}
}

section#about-me {
	padding-top: 100px;
	background-color: #fff;
	font-size: 24px;
	line-height: 28px;
	position: relative;

	.container{
		position: relative;
		z-index: 1;
	}

	.about-me {
		padding: 20px 0 170px 0;
	}

	.bg-loading, .bg-greaterThan, .bg-slash{
		position: absolute;
		
	}
	.bg-loading{
		top: 3%;
		left: 8%;
	}

	.bg-greaterThan{
		top: 24%;
		left: 6%;
		opacity: 0.1;
	}

	.bg-slash{
		right: 10px;
		top: 30%;
		opacity: 0.1;

		img:first-child{
			margin-right: -90px;
		}
	}
}


.container {
	max-width: 900px;
	width: 100%;
	padding: 0 15px;
}

.mobile-view{
	display: none;
}

.btn-round {
	display: flex;
	flex-direction: row;
	padding: 20px 50px;
	color: #fff;
	font-size: 18px;

	/* gradientThree */
	background: linear-gradient(44.12deg, #A770EF 6.82%, #CF8BF3 54.8%, #FDB99B 94.76%);
	border-radius: 70px;
	float: left;

	img{
		margin-right: 15px;
	}
}

.contact-me{
	background: linear-gradient(35.14deg, #FF8600 -13.67%, #F9007D 108.16%);
	padding: 54px 0;
	margin-top: 100px;

	p, a{
		color: #fff;
	}

	table td{
		padding: 10px;
		min-width: 180px;
	}
}

@media screen and (max-width: 769px) {
	section.introduction {
		.order-first {
			-webkit-box-ordinal-group: 2;
			-webkit-order: 1;
			-ms-flex-order: 1;
			order: 1;

			text-align: center;
		}
	}
}

@media screen and (max-width: 500px) {
	.mobile-hide{
		display: none;
	}

	.mobile-view{
		display: inline;
	}

	h2{
		font-size: 44px;
		line-height: 54px;
	}

	.btn-round{
		padding: 16px 38px;
	}

	section.introduction{
		text-align: center;
		h2{
			font-size: 44px;
			line-height: 54px;
		}

		h4{
			font-size: 20px;
			line-height: 26px;
		}

		.avatar-cont {
			margin-left: 0;
			width: 100%;

			img {
				margin: auto;
				max-width: 150px;
				margin-bottom: 10px;
			}
		}

		.social-cont{
			justify-content: center;
		}
	}

	
	section#about-me{
		padding-top: 40px;

		p{
			font-size: 16px;
		}

		.bg-loading, .bg-greaterThan, .bg-slash{
			img{
				max-width: 100px;
			}
		}
	
		.bg-loading{
			top: 1%;
			left: 0;
		}
	
		.bg-slash{
			img:first-child{
				margin-right: -68px;
			}
		}
	
	}
	
	.contact-me{
		margin-top: 50px;
		font-size: 18px;

		img{
			max-width: 50px;
		}

		table{
			display: table;
			width: 100%;

			td{
				width: 50%;
				min-width: auto;
			}
		}
	}
}